{
  "plugins": [
    "@babel/transform-modules-commonjs",
    "@babel/transform-object-assign"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ]
  ]
}
